MAX_PROXY_CONCURRENCY=16
METADATA_TTL_SECONDS=1200
METADATA_CACHE_MAX=1000
GELBOORU_USER_ID=
GELBOORU_API_KEY=
LOG_LEVEL=info
MANGA_PUBLISH_SECRET=
PUBLIC_BASE_URL=https://image.lospro.kissnab.top
MAX_MANGA_DECODE_CONCURRENCY=2
MAX_MANGA_IMAGE_MIB=24
MAX_MANGA_MEGAPIXELS=40
